<!-- - section MASTHEAD CONTAINER BOTTOM -->
<div class="section-dark section-scroll section_cta bg-dark-3" data-arts-theme-text="light">
    <!-- section CONTENT #1 -->
    <div class="section pt-large pb-medium">
      <div class="container">
        <section class="section section-content clearfix" data-arts-os-animation="data-arts-os-animation">
          <div class="section-content__inner">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="section-content__heading split-text js-split-text mb-1" data-split-text-type="lines,words" data-split-text-set="words">
                  <h2 class="h1 z-index-1 position-relative text-center line-height-1">{{ 'Le tue due ruote meritano Hagane.'|_ }}</h2>
                </div>
              </div>
              <div class="offset-lg-3 col-lg-3 overflow-visible p-0 lock-wrapper">
                <div class="lazy floating-lock">
                  <img class="of-contain bottom" src="#" data-src="{{ 'assets/img/assets/hagane-lock.png'|theme }}" width="546" height="764" alt=""/>
                </div>
                <div class="lazy floating-lock z-index-2 position-absolute">
                  <img class="of-contain top" src="#" data-src="{{ 'assets/img/assets/hagane-lock-top.png'|theme }}" width="546" height="764" alt=""/>
                </div>
              </div>
              <!--<div class="col-lg-5 overflow-visible" data-arts-parallax="element" data-arts-parallax-x="10%">


                <a class="mt-4 button button_lg button_bordered button_white" data-hover="Preorder Now - Be the first" href="{{ '/category/hagane' | app }}">
                  <span class="button__label-hover">Preorder Now - Be the first</small></span>
                </a>


                
              </div>-->
              <div class="col-12 text-center color-white mt-3 lead">
                <a href="{{ 'faq'|page }}" class="underline color-white">{{ 'Altre domande? Siamo qui.'|_ }}</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- - section CONTENT #1 -->
</div>