<header class="section-masthead__header justify-content-center">
    <div class="section-masthead__heading split-text" data-split-text-type="lines,words" data-split-text-set="words">
        <h1 class="h1 mt-0 mb-0 text-center line-height-1"><span class="orange">Condizioni</span> di vendita</h1>

        <h3>INFORMAZIONI SOCIETARIE</h3>
        <p>
            <strong>HGN S.R.L.</strong>
            Corso Lodi n.18 – MILANO - CAP 20135 – Italia<br/>
            iscritta all’Ufficio del Registro delle Imprese di Milano<br/>
            REA: MI-2612661<br/>
            P.IVA E C.F. 11577150961<br/>
            PEC: hgn@pec.it<br/>
            INFO: info@hagane.com<br/>
            SUPPORT: support@hagane.com<br/>
            La navigazione del presente sito web è regolata dalle condizioni di utilizzo qui di seguito riportate.<br/>
            Gli utenti che navigano sul presente sito web sono soggetti alle presenti Condizioni generali e modalità di
            utilizzo.<br/>
            HGN S.r.l. non può essere ritenuta responsabile dei danni di qualsiasi natura causati direttamente o
            indirettamente dall'accesso al sito, dall'incapacità o impossibilità di accedervi.<br/>
            Ci si riserva di apportare in qualsiasi momento modifiche anche sostanziali alle presenti Condizioni di
            utilizzo, dandone conoscenza agli utenti mediante la pubblicazione sul presente sito.<br/>
            Ci si impegna altresì di assicurare la qualità delle informazioni pubblicate sul sito, nonché la loro
            integrità, aggiornamento, completezza, tempestività, semplicità di consultazione e accessibilità.<br/>
        </p>

        <h3>OBBLIGHI DELL’UTENTE</h3>
        <p>
            L'accesso e l'uso del Sito da parte dell’Utente, compresa la visualizzazione delle pagine web, la
            comunicazione con il Venditore, la possibilità di scaricare informazioni sui Prodotti e l'acquisto dei
            Prodotti, costituiscono attività condotte dagli utenti del Sito esclusivamente per usi personali estranei a
            qualsiasi attività commerciale, imprenditoriale e professionale.<br/>
            L’accesso e l’uso del sito, nel rispetto comunque della legge, dell’ordine pubblico e del buon costume, sono
            attività regolate dalle presenti Condizioni generali, e presuppongono pertanto la lettura, la conoscenza e
            l'accettazione delle presenti Condizioni d'Uso, delle Condizioni di Vendita, delle Politiche di Reso e della
            Privacy Policy,
            All'utente è espressamente vietato fare, trasmettere o archiviare copie elettroniche di materiale di
            proprietà del Titolare del Servizio, senza autorizzazione.<br/>
        </p>

        <h3>SOCIAL MEDIA</h3>
        <p>
            L’Utente registrato suI Social Network (Facebook, Twitter, LinkedIn, YouTube ed altri) che condivide
            commenti, twit o fotografie sulle pagine Social di HGN S.R.L., accetta che tali messaggi / caricamenti
            vengano condivisi altresì sul presente sito web.In ogni caso i caricamenti di file / link / immagini /
            messaggi etc., dovranno rispettare il divieto di utilizzo di espressioni vessatorie, minacciose,
            diffamatorie, offensive, oscene, biasimevoli.<br/>
            Procedendo al caricamento dei predetti contenuti l’Utente si assume ogni responsabilità del contenuto ivi
            riportato.
        </p>

        <h3>RESPONSABILITA’, OBBLIGHI E GARANZIE DEL SERVIZIO</h3>
        <p>
            L’Utente sarà l'unico responsabile per l'uso del Sito e dei suoi contenuti.<br/>
            HGN S.R.L. infatti non potrà essere considerato responsabile dell'uso del Sito in maniera non conforme alle
            norme di legge vigenti da parte di ciascuno dei propri utenti.<br/>
            Il sito è messo a disposizione senza il rilascio di alcuna garanzia o licenza specifica e l’Utente che lo
            utilizza si assume tutti i rischi legati all’uso di Internet e degli applicativi informatici (hardware e
            software).<br/>
            HGN S.R.L. non risponde quindi per eventuali danni e/o perdite e/o malfunzionamenti e/o pregiudizi di
            qualsiasi genere, che possano derivare all’elaboratore elettronico dell’Utente dall’uso del servizio dalla
            stessa erogato.<br/>
            Poiché ogni contenuto del Sito sarà visualizzato, scaricato o altrimenti trattato attraverso canali di
            comunicazione e mezzi tecnici scelti dall'utente a proprio rischio, ogni responsabilità per eventuali danni
            a sistemi informatici o perdite di dati risultanti dalle operazioni relative al Sito ricade sull'utente e
            non potrà essere imputata a HGN S.R.L..<br/>
            HGN S.R.L. declina ogni responsabilità per eventuali danni derivanti dall'impossibilità o difficoltà di
            accedere al Sito o da eventuali danni o disagi relativi a virus, file danneggiati, errori, omissioni,
            interruzioni del servizio, cancellazioni dei contenuti, problemi connessi alla rete, ai provider o a
            collegamenti telefonici e/o telematici, ad accessi non autorizzati, ad alterazioni di dati, al mancato e/o
            difettoso funzionamento delle apparecchiature elettroniche dell'utente o di terze parti.<br/>
            L'utente è responsabile della custodia e del corretto utilizzo delle proprie informazioni personali, ivi
            comprese le credenziali che consentono di accedere ai servizi riservati, nonché di ogni conseguenza dannosa
            o pregiudizio che dovesse derivare a carico di HGN S.R.L. ovvero di terzi a seguito del non corretto
            utilizzo, dello smarrimento o sottrazione di tali informazioni.<br/>
            HGN S.R.L. pertanto declina ogni responsabilità per: incompatibilità del sito web con le attrezzature,
            software e collegamenti di telecomunicazione di cui dispone l’Utente; problemi tecnici compresi errori o
            interruzioni del sito; attacchi subiti dall’Utente durante la navigazione (a titolo esemplificativo virus,
            malware) e danni alle apparecchiature/software informatici che l’Utente utilizza per la navigazione.<br/>
            HGN S.R.L. si riserva altresì il diritto di modificare, aggiungere/ o cancellare parti del sito web, senza
            obbligo di preventivo avviso, oltre al diritto di sospenderne temporaneamente o a tempo indefinito, in tutto
            o in parte, la pubblicazione.HGN S.R.L. ha facoltà di utilizzare collegamenti a Siti web di Terzi per
            rendere fruibili servizi offerti agli Utenti; tuttavia, non esercita alcun controllo sui collegamenti a tali
            Siti web e sul loro contenuto e non risponde dei contenuti – eventualmente illeciti – di tali Siti
            direttamente o indirettamente collegati.<br/>
            Soltanto il gestore della pagina a cui il link fa riferimento è responsabile dell’eventuale contenuto
            illegale, errato o incompleto di tale pagina e, in particolare, di qualsiasi danno derivante dall’uso, o dal
            mancato uso delle informazioni in esse contenuto.<br/>
            Non vi è, al contrario, alcuna responsabilità di HGN S.R.L. che si limita ad inserire, nel proprio sito, un
            link ad altro sito.L’accesso al Sito può subire delle interruzioni temporanee a causa di riparazioni,
            manutenzione o per l’inserimento di nuovi strumenti e servizi.<br/>
        </p>

        <h3>DIRITTI DI PROPRIETA’ INDUSTRIALE ED INTELLETTUALE</h3>
        <p>
            Il presente sito web è protetto dalla normativa vigente in Italia in materia di proprietà industriale e
            diritto d’autore.<br/>
            Tutti i contenuti presenti sul sito web, come – a titolo meramente esemplificativo e non esaustivo – le
            immagini, le fotografie, i video, i documenti, i disegni, le figure, i loghi ed ogni altro materiale, in
            qualsiasi formato, pubblicato sul Sito, compresi i menu, le pagine web, la grafica, i colori, gli schemi,
            gli strumenti, i caratteri ed il design del sito web, i diagrammi, il layouts, i metodi, i processi, le
            funzioni ed il software, sono protetti dal diritto d'autore e da ogni altro diritto di proprietà
            intellettuale del Titolare, del Venditore e degli altri titolari dei diritti.<br/>
            È vietata la riproduzione, in tutto o in parte, in qualsiasi forma, del Sito e dei suoi contenuti.<br/>
            L’utilizzo del presente sito web non prevede il rilascio di licenze o autorizzazioni per l’uso dei contenuti
            presenti sul sito.<br/>
            E’ fatto divieto all’Utente di copiare, pubblicare, diffondere, trasmettere, salvare, duplicare, riprodurre,
            inoltrare e/o rendere altrimenti disponibile, quanto pubblicato nel sito web, ad eccezione dei casi in cui
            ciò sia espressamente previsto.<br/>
        </p>


        <h3>LEGGE APPLICABILE E GIURISDIZIONE</h3>
        <p>
            La legge applicabile ai rapporti nascenti dall’utilizzo del presente sito web e dalla fruizione dei servizi
            offerti è la legge italiana. Le Condizioni generali di utilizzo qui indicate dovranno essere interpretate
            alla luce ed in conformità alle vigenti norme dell’ordinamento italiano.<br/>
            Il Foro di MILANO (Italy), avrà giurisdizione e competenza esclusiva per eventuali controversie comunque
            connesse a queste condizioni. Ciò nonostante, HGM S.R.L. si riserva, qualora lo ritenga necessario, di poter
            agire in giudizio di fronte a Tribunali di Paesi o città diversi dall’Italia o da Milano, per tutelare i
            propri interessi e far rispettare i propri diritti.<br/>
        </p>

        <h3>DISPOSIZIONI FINALI</h3>
        <p>
            Le presenti note legali sono parte integrante del presente sito.<br/>
            L’eventuale nullità, invalidità, totale o parziale, di singole parti di queste note legali non priverà di
            validità o di efficacia le restanti parti delle note legali medesime.Per quanto non espressamente indicato
            nelle presenti note legali, si rimanda alle disposizioni del Codice Civile e alle normative vigenti sul
            territorio nazionale, ivi compresi i regolamenti ed ogni altro atto avente forza regolamentativa.<br/>
        </p>

        <h2>CONDIZIONI DI VENDITA</h2>
        <h3>Termini e Condizioni Generali di Contratto</h3>

        <h4>Articolo 1 – DISPOSIZIONI GENERALI</h4>
        <p>
            Le presenti Condizioni Generali di Contratto disciplinano le attività di vendita tramite il sito web
            https://www.hagane.com/ it (in seguito, per brevità “Sito”).<br/>
            La navigazione e la trasmissione di un ordine di acquisto sul sito, ed il conseguente pagamento del prezzo,
            comportano l'accettazione delle condizioni e termini riportati nel presente contratto.<br/>
            Le presenti Condizioni Generali di Vendita si applicano alla vendita di prodotti con esclusivo riferimento
            agli acquisti effettuati sul sito conformemente alle disposizioni della Parte III, Titolo III, Capo I,
            Codice del Consumo (D.lgs. n. 206/05 modificato dal D.lgs. n. 21/14 e D.lgs. 70/03).<br/>
            L’attività di vendita genera un contratto c.d. “a distanza” disciplinato dal Decreto Legislativo 9 aprile
            2003, n. 70.<br/>
            Pertanto, si invita l’Utente a leggere attentamente le presenti condizioni di contratto, le specifiche del
            prodotto e le descrizioni pubblicate sul Sito.<br/>
        </p>

        <h4>Articolo 2 – GESTIONE ORDINI DI ACQUISTO E DISPONIBILITA’ DEI PRODOTTI</h4>
        <p>
            L'Utente può acquistare i Prodotti seguendo la procedura informatica proposta sul Sito.<br/>
            Con l'invio dell'Ordine di acquisto l'utente dichiara di aver preso visione delle presenti condizioni
            generali di contratto e di accettarle integralmente. L'Ordine di acquisto si intenderà completato solo dopo
            che il Venditore ha ricevuto il pagamento del relativo prezzo indicato nel sito.<br/>
            Il Venditore si riserva il diritto di rifiutare o cancellare l'Ordine di acquisto:<br/>
        </p>
        <ul>
            <li>Nei confronti dell’Utente che abbia in precedenza violato le condizioni e/o i termini di contratto di
                acquisto;
            </li>
            <li>Inviato da Utenti che abbiano rilasciato dati identificativi falsi, incompleti o comunque inesatti;</li>
            <li>Che contenga errori di natura tecnica o formale derivanti dalla descrizione del prezzo e/o delle
                caratteristiche del Prodotto pubblicate nella Descrizione Prodotto;
            </li>
            <li>Che contenga Prodotti che al momento dell'invio dell'Ordine di acquisto risultino non più disponibili;
            </li>
            <li>A cui, entro il termine di 7 giorni, non segue il pagamento del prezzo.</li>
        </ul>
        <p>
            Qualora il Prodotto, descritto nella Descrizione Prodotto, non possa essere selezionato per l'acquisto
            s'intende non disponibile per la vendita.<br/>
            L'Utente, prima di inviare l'Ordine di acquisto dovrà controllare il prezzo e nel caso modificare la
            quantità dei Prodotti che sono stati selezionati.<br/>
            La disponibilità dei prodotti si riferisce alla disponibilità effettiva nel momento in cui l'utente effettua
            l'ordine.<br/>
            Tale disponibilità deve comunque essere considerata puramente indicativa perché, per effetto della
            contemporanea presenza sul sito di più utenti, i prodotti potrebbero essere venduti ad altri clienti prima
            della conferma dell'ordine.<br/>
            Anche in seguito all'invio dell'e-mail di conferma dell'ordine potrebbero verificarsi casi di
            indisponibilità parziale o totale della merce. In questa eventualità, l'ordine verrà rettificato
            automaticamente con l'eliminazione del prodotto non disponibile e l'utente verrà immediatamente informato
            via e-mail.<br/>
            Se l'utente richiede l'annullamento dell'ordine, risolvendo il contratto, HGM S.R.L. rimborserà l’importo
            pagato entro 15 giorni a partire dal momento in cui HGM S.r.l. ha avuto conoscenza della decisione
            dell'acquirente di risolvere il contratto.<br/>
        </p>
        <h4>Articolo 3 – PREZZO E MODALITA’ DI PAGAMENTO</h4>
        <p>
            Il prezzo dei prodotti sarà quello indicato di volta in volta sul sito, salvo laddove sussista un errore
            palese.<br/>
            In caso di errore il Venditore avviserà prima possibile l'acquirente consentendo la conferma dell'ordine al
            giusto importo ovvero l'annullamento. Non sussisterà ad ogni modo per l'obbligo di fornire quanto venduto al
            prezzo inferiore erroneamente indicato.<br/>
            I prezzi del sito sono comprensivi di IVA e non includono le spese di spedizione.<br/>
            I prezzi possono subire variazioni in qualsiasi momento. I cambiamenti non riguardano gli ordini per i quali
            sia stata già inviata conferma dell'ordine<br/>
            Una volta selezionati i prodotti desiderati, essi saranno aggiunti al carrello. Sarà sufficiente seguire le
            istruzioni per l'acquisto, inserendo o verificando le informazioni richieste in ogni passaggio del processo.<br/>
            I dettagli dell'ordine potranno essere modificati prima del pagamento.<br/>
            Il Cliente potrà scegliere di effettuare il pagamento del prezzo dei Prodotti e delle relative spese di
            consegna mediante una delle seguenti modalità offerte:Paypal (Carta di Credito)Bonifico Bancario
            AnticipatoRicarica Postepay (solo per l’Italia)Contrassegno (solo per l’Italia)Nel caso in cui, per una
            ragione qualunque, l’addebito degli importi dovuti dal Cliente si riveli impossibile, il processo di vendita
            viene automaticamente annullato e la vendita automaticamente cancellata.<br/>
        </p>
        <h4>Articolo 4 – SPESE DI SPEDIZIONE E CONSEGNA</h4>
        <p>
            Le Spese di trasporto/spedizione sono a carico dell’acquirente e chiaramente specificate nella scheda
            prodotto ed in fase di conclusione dell’ordine.<br/>
            Prima della conclusione del contratto e prima dell’invio dell’ordine, il sistema evidenzierà l’esatto
            importo.<br/>
            I Prodotti sono consegnati all’indirizzo indicato dall’Utente/Cliente. Il luogo di consegna dei Prodotti non
            può coincidere con uno spazio od un’area pubblica.<br/>
            HGM SRL si riserva di non consegnare i Prodotti oggetto dell’ordine qualora si verifichi la predetta
            circostanza.<br/>
            Si raccomanda al Cliente/Utente di porre particolare attenzione nel riportare i dati relativi all’indirizzo
            di recapito (numero civico, cognome sul campanello, numero di interno, scala ecc.).<br/>
            HGM S.R.L. declina ogni responsabilità e viene escluso ogni diritto del Cliente a un risarcimento danni o
            indennizzo in ordine a mancate o ritardate consegne determinate da errori, inesattezze o carenze riguardanti
            l’indirizzo del luogo di recapito così come indicato dal Cliente nell’Ordine.<br/>
            Il Cliente, o altri soggetti incaricati dal Cliente che si trovino all’indirizzo indicato per la consegna
            dei Prodotti nella Conferma d’Ordine, sono tenuti a verificare, al momento della consegna, che
            l’imballaggio/ confezione dei Prodotti sia integra, non danneggiata o comunque alterata.<br/>
            Qualsiasi danno all’imballaggio/confezione dei Prodotti deve essere immediatamente contestato dal Cliente
            mediante l’apposizione di una riserva di controllo scritta sulla prova di avvenuta consegna (Lettera di
            Vettura, Cedolino, Palmare o ogni altro supporto proposto dal vettore).<br/>
            Resta inteso che, una volta firmato il documento di consegna senza alcuna contestazione, il Cliente non
            potrà più sollevare alcuna contestazione a HGM S.R.L. con riferimento alle caratteristiche esteriori di
            quanto consegnato.<br/>
            Nel caso in cui il vettore sia stato scelto dal Cliente al di fuori di quelli proposti in fase di acquisto,
            il rischio del danneggiamento e/o del perimento dei Prodotti si trasferisce al Cliente già nel momento di
            consegna al vettore stesso, precludendo qualsiasi contestazione riguardo alle caratteristiche esteriori di
            quanto
        </p>
        <h4>Articolo 5 – IL CARRELLO</h4>
        <p>
            Il carrello consente di verificare immediatamente i prodotti inseriti, con il loro costo unitario I.V.A.
            inclusa. Si potranno decidere le quantità da acquistare per ogni tipo di prodotto scelto oppure eliminare
            dal carrello uno o più prodotti che si è deciso di non voler più acquistare.<br/>
            L’adeguamento del carrello all’ordine è consenti attraverso le seguenti funzioni:<br/>
        </p>
        <ul>
            <li>aggiorna carrello, consente di aggiornare il carrello dopo aver effettuato cancellazioni o modifiche di
                quantità;
            </li>
            <li>elimina prodotto: consente di eliminare singolarmente i prodotti contenuti;</li>
            <li>homepage: consente di tornare alla homepage.</li>
        </ul>
        <p>
            Prima di procedere con l’invio dell’ordine si consiglia all’utente/Cliente di aggiornare il carrello
            attraverso l’apposita funzione su descritta.<br/>
            Una volta aggiornato il carrello con i prodotti effettivamente desiderati, si procede con l’acquisto e la
            scelta della forma di pagamento.<br/>
            Prima di concludere la transazione verranno chiesti alcuni dati necessari alla identificazione come cliente.<br/>
            Non appena l’ordine verrà terminato, il Cliente riceverà una copia dello stesso a mezzo e-mail contenente le
            informazioni essenziali relative al Prodotto acquistato, l’indicazione dettagliata del prezzo, dei mezzi di
            pagamento, dei costi di consegna.<br/>
            L’Utente/Cliente consumatore potrà annullare l’Ordine solo fino al momento della spedizione del prodotto con
            le modalità indicate nella conferma d’ordine inviata.<br/>
            Qualora il ripensamento avvenga a spedizione effettuata l’Utente/Cliente consumatore potrà agire secondo le
            regole del diritto al ripensamento o non ritirare affatto la spedizione.<br/>
        </p>
        <h4>Articolo 6 – GARANZIA E CONFORMITA’ COMMERCIALE</h4>
        <p>
            Il Venditore, per tutti i Prodotti venduti nel Sito riconosce la garanzia legale di conformità come previsto
            dall'art. 128 del Codice del Consumo relativamente ai beni di consumi; è pertanto responsabile per qualsiasi
            difetto dei prodotti offerti sul sito, ivi inclusa la non conformità degli articoli ai prodotti
            ordinati.<br/>
            La Garanzia Legale è riservata ai soli Utenti/Clienti consumatori. Essa, pertanto, trova applicazione, solo
            agli Utenti che hanno effettuato l'acquisto nel Sito per scopi estranei all'attività imprenditoriale,
            commerciale, artigianale o professionale eventualmente svolta.<br/>
            All'Utente/Cliente non consumatore è riconosciuta la garanzia per i vizi della cosa venduta, la garanzia per
            difetto di qualità promesse ed essenziali e le altre garanzie previste dal codice civile con i relativi
            termini, decadenze e limitazioni.<br/>
            Il Venditore nel garantire che i Prodotti siano conformi con quanto descritto nella Descrizione Prodotto non
            si assume nessuna responsabilità circa l'inidoneità del Prodotto al raggiungimento di qualsivoglia risultato
            perseguito dall'Utente;<br/>
            La rappresentazione visiva dei Prodotti sul Sito non costituisce elemento contrattuale e corrisponde
            normalmente all'immagine fotografica dei Prodotti stessi ed ha il solo scopo di presentarli per la vendita,
            senza alcuna garanzia o impegno, da parte del Venditore circa l'esatta corrispondenza dell'immagine
            raffigurata sul Sito con il prodotto reale; e ciò con particolare riguardo alle sue dimensioni reali e/o
            agli aspetti cromatici.<br/>
            In caso di differenza tra l'immagine e la sua descrizione, fa sempre fede la Descrizione prodotto.<br/>
            In caso di mancata conformità, l’utente che ha stipulato il contratto in qualità di consumatore avrà diritto
            ad ottenere il ripristino della conformità dei prodotti senza spese, mediante riparazione o sostituzione,
            ovvero di ottenere un’appropriata riduzione di prezzo ovvero la risoluzione del contratto relativamente ai
            beni contestati e la conseguente restituzione del prezzo.<br/>
        </p>

        <h4>Articolo 7 – DIRITTO DI RECESSO E RECLAMI</h4>
        <p>
            Conformemente alle disposizioni legali in vigore, l’acquirente ha diritto di recedere dall’acquisto senza
            alcuna penalità e senza specificarne il motivo entro il termine di 14 giorni ai sensi dell’art. 57 del D.lgs
            206/2005 decorrenti dalla data di ricezione dei prodotti.<br/>
            In caso di acquisti multipli effettuati dall'Utente/Cliente con un solo ordine e consegnati separatamente,
            il termine di 14 gg. decorre dalla data di ricezione dell'ultimo prodotto<br/>
            Il diritto di recesso è riservato agli Utenti che acquistano in qualità di consumatori. Esso, pertanto,
            trova applicazione, solo nei confronti dell’Utente/Cliente consumatore cioè che procede all’acquisto nel
            sito per scopi estranei all'attività imprenditoriale.<br/>
            All’Utente/Cliente non consumatore si applicano le norme previste dal codice civile con i relativi termini,
            decadenze e limitazioni.<br/>
            In caso di esercizio del diritto di recesso, l'Utente/Cliente è tenuto a restituire al Venditore i Prodotti
            entro 14 gg dal giorno in cui ha comunicato al Venditore la propria volontà di recedere dal contratto ai
            sensi dell'art. 57 del D.lgs 206/2005.<br/>
            L’utente che intendesse esercitare il diritto di recesso dovrà comunicarlo a HGM s.r.l. tramite
            dichiarazione esplicita che dovrà essere trasmessa a mezzo raccomandata a/r all’indirizzo Corso Lodi n. 18 –
            20135 MILANO o tramite Posta Elettronica certificata all’indirizzo: hgn@pec.it .<br/>
            La confezione contenente i Prodotti dovrà essere restituita integra, nell’imballo originale, completa in
            tutte le sue parti (compresi quindi l’imballo ed eventuale documentazione (scheda prodotto e documenti
            fiscali).<br/>
            L'Utente/Cliente è responsabile della diminuzione del valore dei Prodotti risultante da una manipolazione
            diversa da quella necessaria per stabilire la natura, le caratteristiche ed il funzionamento.<br/>
            Fatta salva la facoltà di verificare il rispetto di quanto sopra, il Venditore provvederà a rimborsare
            l'importo dei prodotti oggetto del recesso entro un termine massimo di 14 giorni, comprensivo degli
            eventuali costi di spedizione sostenuti all'atto di acquisto del bene come previsto dall'art. 56 comma 3 del
            D. Lgs 206/2005, modificato dal D. Lgs 21/2014. La spedizione, finché il Venditore non riceva il Prodotto, è
            sotto la responsabilità dell'Utente il quale dovrà assicurare il prodotto presso il corriere prescelto,
            avendo cura di imballare con attenzione la merce, ove possibile inserendo la confezione originale in una
            scatola esterna e, comunque, evitando di danneggiare il prodotto con nastri adesivi, etichette, etc.
            L’Utente/Cliente decade dal diritto di recesso in caso di mancanza della condizione essenziale di integrità
            del bene (confezione e/o suo contenuto), nei casi in cui il Venditore accerti:<br/>
        </p>
        <ol>
            <li>la mancanza della confezione esterna e/o dell'imballo interno originale;</li>
            <li>anomalie al Prodotto;</li>
            <li>il danneggiamento del Prodotto per cause diverse dal suo trasporto;</li>
            <li>l’usura del Prodotto dovuta al suo utilizzo, che ne abbia compromesso l'integrità.</li>
        </ol>
        <p>
            Il Venditore eseguirà il rimborso utilizzando lo stesso mezzo di pagamento scelto dall'Utente/Cliente in
            fase di acquisto.
        </p>
        <h4>Articolo 8 – COMUNICAZIONI</h4>
        <p>
            Le parti concordano che tutte le comunicazioni relative al contratto dovranno essere inviate agli indirizzi
            comunicati durante la fase di registrazione al sito e/o invio dell'Ordine di acquisto. Eventuali variazioni
            dovranno essere tempestivamente comunicate.
        </p>
        <h4>Articolo 9- TRATTAMENTO DEI DATI</h4>
        <p>
            L'Utente/Cliente garantisce che i dati personali comunicati in fase di acquisto sono effettivamente i propri
            e che sono da considerare corretti e veritieri.<br/>
            I dati personali dell'Utente/Cliente raccolti dal Venditore saranno trattati conformemente a quanto previsto
            dalla normativa in materia di protezione dei dati personali, come specificato nell’apposita sezione del Sito
            (privacy policy), per dare esecuzione all’Ordine ricevuto nonché per le finalità specificate nella citata
            informativa.
        </p>
        <h4>Articolo 10 – LEGGE APPLICABILE, RISOLUZIONE DELLE CONTROVERSIE E FORO COMPETENTE</h4>
        <p>
            Le presenti Condizioni generali di vendita sono disciplinate dal diritto italiano ed interpretate in base ad
            esso. Di conseguenza l’interpretazione, esecuzione e risoluzione delle Condizioni Generali di Vendita sono
            soggette esclusivamente alla Legge Italiana.<br/>
            Per qualsiasi controversia, relativa all'interpretazione e/o all'esecuzione del presente contratto, sarà
            esclusivamente competente il Tribunale di Milano/Giudice di Pace di Milano, tutti gli altri esclusi.<br/>
        </p>
        <h4>Articolo 11 – CAUSE DI FORZA MAGGIORE</h4>
        <p>
            HGM S.R.L. sarà liberata dall’obbligo di adempimento e di esecuzione del presente contratto per causa di
            forza maggiore, temporanea o definitiva come – a titolo esemplificativo e non esaustivo – scioperi, arresti,
            incendi, eventi naturali e/o atmosferici e per qualsiasi altra causa verificatasi al di fuori del controllo
            di HGM S.R.L. e alla stessa non imputabile anche preesistente che impedisca o aggravi l’esecuzione totale o
            parziale del presente contratto.
        </p>
        <h4>Articolo 12 – PROPRIETA’ INTELLETTUALE</h4>
        <p>
            Tutti i diritti di proprietà intellettuale connessi al Negozio On Line (compresi i contenuti e le immagini
            fotografiche) sono riservati. Il Negozio On Line e i suoi contenuti non possono essere riprodotti né
            integralmente né parzialmente, trasferiti con mezzi elettronici o convenzionali, modificati, collegati e
            utilizzati per qualsivoglia fine senza il previo consenso scritto di HGM S.R.L..
        </p>

        <h4>DEFINIZIONI</h4>
        <p>
            L'Utente prende atto che il significato attribuito alle termologia utilizzata nel contratto e nelle
            condizioni generali di contratto comporta i seguenti significati:
        </p>
        <ul>
            <li>Cliente: qualsiasi soggetto (persona fisica o giuridica) che acquista uno o più Prodotti e/o il Servizio
                contestualmente offerto attraverso il Negozio OnLine accettando le Condizioni Generali.
            </li>
            <li>Contratto: accordo tra venditore ed Utente per la compravendita dei prodotti e/o servizi offerti nel
                sito per come in esso descritti alla condizioni generali di vendita qui riportate.
            </li>
            <li>Condizioni Generali: regole per la disciplina dell’accordo di compravendita.</li>
            <li>Conferma d’Ordine: comunicazione a mezzo mail e-mail con la quale HGN S.R.L. avvisa il Cliente/Utente
                l’accettazione dell’Ordine.
            </li>
            <li>Carrello: Area del sito in cui l'Utente forma l'Ordine e lo invia al Venditore.</li>
            <li>Credenziali: codici di riconoscimento personali a scelta dell’Utente (User ID e Password) necessari
                all'Utente stesso per l’accesso all’area personale del Sito.
            </li>
            <li>Ordine di acquisto: proposta contrattuale d'acquisto inviata dall'Utente al Venditore.</li>
            <li>Negozio on line: negozio virtuale, gestito da HGN S.R.L. e accessibile tramite l’URL www.hagane.com
                attraverso il quale è possibile acquistare i Prodotti.
            </li>
            <li>Parti: soggetti contraenti ossia Venditore e Utente (consumatore o persona Giuridica).</li>
            <li>Prezzo: costo complessivo di oneri fiscali dei Prodotti e/o della fornitura del Servizio come indicato
                nel Negozio On Line in corrispondenza dei Prodotti medesimi.
            </li>
            <li>Prodotti: prodotti e/o servizi venduti dal Venditore tramite il Sito.</li>
            <li>Registrazione: procedura informatica tramite la quale l'Utente attiva le credenziali di autenticazione
                necessarie per effettuare gli acquisti sul Sito.
            </li>
            <li>Descrizione Prodotto: spazio informativo nel quale si illustrano dettagliatamente le principali
                caratteristiche dei prodotti / servizi venduti dal Venditore nonché eventuali condizioni di vendita
                aggiuntive rispetto a quelle qui indicate e descritte. La descrizione prodotto è parte integrante e
                sostanziale del presente contratto.
            </li>
            <li>Servizio: utilità offerta nel Negozio On Line.</li>
            <li>Sito: spazio web raggiungibile all'indirizzo www.hagane.com</li>
            <li>Utente: persona fisica o persona giuridica che acquista sul Sito i Prodotti. L’Utente è qualificabile
                come consumatore, così come definito dal Codice del Consumo, se effettua l'acquisto per scopi estranei
                all'attività imprenditoriale o professionale eventualmente svolta.
            </li>
            <li>Venditore: HGN S.R.L.</li>
        </ul>
    </div>
</header>
