<header class="section-masthead__header justify-content-center">
    <div class="section-masthead__heading split-text" data-split-text-type="lines,words" data-split-text-set="words">
        <h1 class="h1 mt-0 mb-0 text-center line-height-1"><span class="orange">Conditions</span> of sale</h1>
        <h3>COMPANY DATA</h3>

        <p><strong>HGN SRL</strong> Corso Lodi n.18 - MILAN - CAP 20135 - Italy<br/>registered in the Milan Company
            Register Office<br/>REA: MI-2612661<br/>VAT E CF 11577150961<br/>PEC: <a
                href="mailto:hgn@pec.it">hgn@pec.it</a><br/>INFO: <a
                href="mailto:info@hagane.com">info@hagane.com</a><br/>SUPPORT: support@hagane.com</p>
        <p>The navigation of this website is governed by the conditions of use set out below.<br/>Users browsing this
            website are subject to these General Terms and Conditions of Use.<br/>HGN Srl cannot be held responsible for
            damages of any nature caused directly or indirectly by accessing the site, by the inability or impossibility
            of accessing it.<br/>We reserve the right to make changes, even substantial ones, to these Terms of Use at
            any time, informing users of them by posting them on this site.<br/>We also undertake to ensure the quality
            of the information published on the site, as well as its integrity, updating, completeness, timeliness, ease
            of consultation and accessibility.</p>
        <h3>USER OBLIGATIONS</h3>
        <p>The access and use of the Site by the User, including viewing the web pages, communicating with the Seller,
            the ability to download information on the Products and purchase the Products, are activities carried out by
            the users of the Site exclusively for personal uses unrelated to any commercial, entrepreneurial and
            professional activity.</p>
        <p>Access and use of the site, in compliance with the law, public order and morality, are activities governed by
            these General Conditions, and therefore presuppose the reading, knowledge and acceptance of these Conditions
            of Use, of the Conditions of Sale, of the Return Policies and of the Privacy Policy, The user is expressly
            forbidden to make, transmit or archive electronic copies of material owned by the Service Owner, without
            authorization.</p>
        <h3>SOCIAL MEDIA</h3>
        <p>The User registered on Social Networks (Facebook, Twitter, LinkedIn, YouTube and others) who shares comments,
            twits or photographs on the Social pages of HGN SRL, accepts that such messages / uploads are also shared on
            this website. case uploads of files / links / images / messages etc., must respect the prohibition of the
            use of vexatious, threatening, defamatory, offensive, obscene, blameworthy expressions.</p>
        <p>By proceeding to upload the aforementioned contents, the User assumes all responsibility for the content
            reported therein.</p>
        <h3>LIABILITY, OBLIGATIONS AND GUARANTEES OF THE SERVICE</h3>
        <p>The User will be solely responsible for the use of the Site and its contents.</p>
        <p>In fact, HGN SRL cannot be held responsible for the use of the Site in a manner that does not comply with the
            laws in force by each of its users.</p>
        <p>The site is made available without issuing any specific warranty or license and the User who uses it assumes
            all the risks associated with the use of the Internet and computer applications (hardware and software).</p>
        <p>HGN SRL is therefore not liable for any damages and / or losses and / or malfunctions and / or prejudices of
            any kind, which may derive to the User's electronic computer from the use of the service provided by the
            same.</p>
        <p>Since any content of the Site will be displayed, downloaded or otherwise processed through communication
            channels and technical means chosen by the user at their own risk, all responsibility for any damage to
            computer systems or loss of data resulting from operations relating to the Site falls on the user and cannot
            be attributed to HGN SRL.</p>
        <p>HGN SRL declines all responsibility for any damage resulting from the impossibility or difficulty of
            accessing the Site or from any damage or inconvenience related to viruses, damaged files, errors, omissions,
            service interruptions, deletion of contents, problems connected to the network, to providers or to telephone
            and / or telematic connections, to unauthorized access, to alteration of data, to the failure and / or
            faulty functioning of the user's or third-party electronic equipment.</p>
        <p>The user is responsible for the custody and correct use of his personal information, including the
            credentials that allow access to the reserved services, as well as for any harmful consequence or prejudice
            that may arise against HGN SRL or third parties as a result of not correct use, loss or theft of such
            information.</p>
        <p>HGN SRL therefore declines all responsibility for: incompatibility of the website with the equipment,
            software and telecommunication connections available to the User; technical problems including site errors
            or interruptions; attacks suffered by the User while browsing (by way of example viruses, malware) and
            damage to the IT equipment / software that the User uses for browsing.</p>
        <p>HGN SRL also reserves the right to modify, add / or delete parts of the website, without the obligation of
            prior notice, as well as the right to suspend publication temporarily or indefinitely, in whole or in part.
            links to Third Party Websites to make services offered to Users usable; however, it does not exercise any
            control over the links to such Websites and their content and is not responsible for the contents - possibly
            illegal - of such Websites directly or indirectly connected.</p>
        <p>Only the manager of the page to which the link refers is responsible for any illegal, incorrect or incomplete
            content of that page and, in particular, for any damage deriving from the use or non-use of the information
            contained therein.</p>
        <p>On the contrary, there is no responsibility on HGN SRL which limits itself to inserting a link to another
            site on its site. Access to the Site may be subject to temporary interruptions due to repairs, maintenance
            or for the inclusion of new tools and services.</p>
        <h3>INDUSTRIAL AND INTELLECTUAL PROPERTY RIGHTS</h3>
        <p>This website is protected by the legislation in force in Italy on industrial property and copyright.</p>
        <p>All content on the website, such as - by way of example and not limited to - images, photographs, videos,
            documents, drawings, figures, logos and any other material, in any format, published on the Site , including
            menus, web pages, graphics, colors, layouts, tools, fonts and website design, diagrams, layouts, methods,
            processes, functions and software, are protected the copyright and any other intellectual property rights of
            the Owner, the Seller and the other rights holders.</p>
        <p>The reproduction, in whole or in part, in any form, of the Site and its contents is prohibited.</p>
        <p>The use of this website does not provide for the issue of licenses or authorizations for the use of the
            contents on the site.</p>
        <p>It is forbidden for the User to copy, publish, disseminate, transmit, save, duplicate, reproduce, forward and
            / or otherwise make available, what is published on the website, except in cases where this is expressly
            provided for.</p>
        <h3>APPLICABLE LAW AND JURISDICTION</h3>
        <p>The law applicable to the relationships arising from the use of this website and from the use of the services
            offered is Italian law. The general conditions of use indicated here must be interpreted in the light of and
            in compliance with the current Italian law.</p>
        <p>The Court of MILAN (Italy) will have exclusive jurisdiction and competence for any disputes connected to
            these conditions. Nevertheless, HGM SRL reserves the right, if it deems it necessary, to take legal action
            before the Courts of countries or cities other than Italy or Milan, to protect its interests and enforce its
            rights.</p>
        <h3>FINAL PROVISIONS</h3>
        <p>These legal notices are an integral part of this site.</p>
        <p>Any total or partial invalidity or invalidity of individual parts of these legal notes will not invalidate
            the remaining parts of the legal notes themselves. For anything not expressly indicated in these legal
            notes, please refer to the provisions of the Civil Code and the regulations in force in the national
            territory, including regulations and any other act having regulatory force.</p>
        <h2>CONDITIONS OF SALE</h2>
        <h3>General Terms and Conditions of Contract</h3>
        <h4>Article 1 - GENERAL PROVISIONS</h4>
        <p>These General Conditions of Contract govern the sales activities through the website https://www.hagane.com/
            it (hereinafter, for brevity "Site") .</p>
        <p>The navigation and transmission of a purchase order on the site, and the consequent payment of the price,
            imply the acceptance of the conditions and terms set out in this contract.</p>
        <p>These General Conditions of Sale apply to the sale of products with exclusive reference to purchases made on
            the site in accordance with the provisions of Part III, Title III, Chapter I, Consumer Code (Legislative
            Decree No. 206/05 amended by Legislative Decree no. 21/14 and Legislative Decree 70/03).</p>
        <p>The sales activity generates a so-called "distance" contract governed by Legislative Decree 9 April 2003, n.
            70.</p>
        <p>Therefore, the User is invited to carefully read these terms and conditions, the product specifications and
            the descriptions published on the Site.</p>
        <h4>Article 2 - MANAGEMENT OF PURCHASE ORDERS AND AVAILABILITY OF PRODUCTS</h4>
        <p>The User can purchase the Products by following the IT procedure proposed on the Site.</p>
        <p>By sending the Purchase Order, the user declares to have read these general terms and conditions and to
            accept them in full. The Purchase Order will be considered completed only after the Seller has received
            payment of the relative price indicated on the site.</p>
        <p>The Seller reserves the right to refuse or cancel the Purchase Order: To the</p>
        <ul>
            <li>User who has previously violated the conditions and / or terms of the purchase contract;</li>
            <li>Sent by Users who have released false, incomplete or otherwise inaccurate identification data;</li>
            <li>Contains errors of a technical or formal nature deriving from the description of the price and / or
                characteristics of the Product published in the Product Description;
            </li>
            <li>That contains Products that are no longer available at the time the Purchase Order is sent;</li>
            <li>Which is not followed by the payment of the price within 7 days.</li>
        </ul>
        <p>If the Product, described in the Product Description, cannot be selected for purchase, it is considered not
            available for sale.</p>
        <p>Before sending the Purchase Order, the User must check the price and, if necessary, change the quantity of
            the Products that have been selected.</p>
        <p>Product availability refers to actual availability at the time the user places the order.</p>
        <p>However, this availability must be considered purely indicative because, due to the simultaneous presence on
            the site of multiple users, the products could be sold to other customers before the order is confirmed.</p>
        <p>Even after sending the order confirmation e-mail, there may be cases of partial or total unavailability of
            the goods. In this case, the order will be automatically rectified with the elimination of the unavailable
            product and the user will be immediately informed by e-mail.</p>
        <p>If the user requests the cancellation of the order, by terminating the contract, HGM SRL will refund the
            amount paid within 15 days from the moment in which HGM Srl became aware of the buyer's decision to
            terminate the contract.</p>
        <h4>Article 3 - PRICE AND METHOD OF PAYMENT</h4>
        <p>The price of the products will be that indicated from time to time on the site, except where there is an
            obvious error.</p>
        <p>In the event of an error, the Seller will notify the buyer as soon as possible, allowing confirmation of the
            order at the right amount or cancellation. In any case, there will be no obligation to supply what is sold
            at the lower price incorrectly indicated.</p>
        <p>The prices of the site include VAT and do not include shipping costs.</p>
        <p>Prices are subject to change at any time. The changes do not affect orders for which an order confirmation
            has already been sent.</p>
        <p>Once the desired products have been selected, they will be added to the cart. It will be sufficient to follow
            the instructions for the purchase, entering or verifying the information requested in each step of the
            process.</p>
        <p>Order details can be changed before payment.</p>
        <p>The Customer can choose to pay the price of the Products and the related delivery costs using one of the
            following methods offered: Paypal (Credit Card) Advance Bank Transfer Postepay Reload (only for Italy) Cash
            on delivery (only for Italy) In the event that, for any reason, the debit of the amounts due by the Customer
            proves impossible, the sales process is automatically canceled and the sale automatically canceled.</p>
        <h4>Article 4 - SHIPPING AND DELIVERY COSTS</h4>
        <p>The transport / shipping costs are charged to the buyer and clearly specified in the product sheet and at the
            conclusion of the order.</p>
        <p>Before the conclusion of the contract and before sending the order, the system will highlight the exact
            amount.</p>
        <p>The Products are delivered to the address indicated by the User / Customer. The place of delivery of the
            Products cannot coincide with a public space or area.</p>
        <p>HGM SRL reserves the right not to deliver the Products object of the order if the aforementioned circumstance
            occurs.</p>
        <p>The Customer / User is recommended to pay particular attention to reporting the data relating to the delivery
            address (house number, surname on the bell, extension number, staircase, etc.).</p>
        <p>HGM SRL declines all responsibility and any right of the Customer to compensation for damages or compensation
            in relation to missed or delayed deliveries caused by errors, inaccuracies or deficiencies regarding the
            address of the delivery place as indicated by the Customer in the Order is excluded.</p>
        <p>The Customer, or other persons appointed by the Customer who are at the address indicated for the delivery of
            the Products in the Order Confirmation, are required to verify, at the time of delivery, that the packaging
            / packaging of the Products is intact, not damaged. or otherwise altered.</p>
        <p>Any damage to the packaging / packaging of the Products must be immediately contested by the Customer by
            affixing a written control reserve on the proof of delivery (Waybill, Coupon, PDA or any other support
            offered by the carrier).</p>
        <p>It is understood that, once the delivery document has been signed without any dispute, the Customer will no
            longer be able to raise any objection to HGM SRL with reference to the external characteristics of what has
            been delivered.</p>
        <p>In the event that the carrier has been chosen by the Customer other than those proposed at the time of
            purchase, the risk of damage and / or loss of the Products is transferred to the Customer already at the
            time of delivery to the carrier itself, precluding any dispute regarding to the external characteristics of
            what</p>
        <h4>Article 5 - THE CART</h4>
        <p>The cart allows you to immediately check the products inserted, with their unit cost including VAT. You can
            decide the quantities to buy for each type of product chosen or delete from the cart one or more products
            that you have decided you no longer want to buy.</p>
        <p>The adjustment of the cart to the order is allowed through the following functions:</p>
        <ul>
            <li>update cart, allows you to update the cart after having made cancellations or quantity changes;</li>
            <li>delete product: allows you to individually delete the contained products;</li>
            <li>homepage: return to the homepage.</li>
        </ul>
        <p>Before proceeding with sending the order, the user / customer is advised to update the cart through the
            appropriate function described above.</p>
        <p>Once the cart has been updated with the products actually desired, proceed with the purchase and the choice
            of the form of payment.</p>
        <p>Before concluding the transaction, some data necessary for identification as a customer will be
            requested.</p>
        <p>As soon as the order is completed, the Customer will receive a copy of the same by e-mail containing the
            essential information relating to the purchased Product, the detailed indication of the price, the means of
            payment, the delivery costs.</p>
        <p>The User / Consumer Customer may cancel the Order only up to the time of shipment of the product in the
            manner indicated in the order confirmation sent.</p>
        <p>If the reconsideration occurs after the shipment has been made, the User / Consumer Customer may act
            according to the rules of the right to reconsider or not collect the shipment at all.</p>
        <h4>Article 6 - WARRANTY AND COMMERCIAL CONFORMITY</h4>
        <p>The Seller, for all the Products sold on the Site, recognizes the legal guarantee of conformity as required
            by art. 128 of the Consumer Code relating to consumer goods; is therefore responsible for any defect in the
            products offered on the site, including the non-conformity of the items with the products ordered.</p>
        <p>The Legal Guarantee is reserved for Users / Consumer Customers only. Therefore, it applies only to Users who
            have made a purchase on the Site for purposes unrelated to any entrepreneurial, commercial, craft or
            professional activity carried out.</p>
        <p>The non-consumer User / Customer is granted the guarantee for defects in the thing sold, the guarantee for
            defects in promised and essential quality and the other guarantees provided for by the civil code with the
            relative terms, forfeiture and limitations.</p>
        <p>In ensuring that the Products comply with what is described in the Product Description, the Seller assumes no
            responsibility for the unsuitability of the Product to achieve any result pursued by the User;</p>
        <p>The visual representation of the Products on the Site does not constitute a contractual element and normally
            corresponds to the photographic image of the Products themselves and has the sole purpose of presenting them
            for sale, without any guarantee or commitment, by the Seller regarding the exact correspondence of the
            image. depicted on the Site with the actual product; and this with particular regard to its real dimensions
            and / or chromatic aspects.</p>
        <p>In the event of a difference between the image and its description, the Product Description always
            prevails.</p>
        <p>In case of non-compliance, the user who has entered into the contract as a consumer will have the right to
            obtain the restoration of the conformity of the products without charge, by repair or replacement, or to
            obtain an appropriate price reduction or the termination of the contract. in relation to the disputed goods
            and the consequent refund of the price.</p>
        <h4>Article 7 - RIGHT OF WITHDRAWAL AND COMPLAINTS</h4>
        <p>In accordance with the legal provisions in force, the buyer has the right to withdraw from the purchase
            without any penalty and without specifying the reason within the term of 14 days pursuant to art. 57 of
            Legislative Decree 206/2005 starting from the date of receipt of the products.</p>
        <p>In the case of multiple purchases made by the User / Customer with a single order and delivered separately,
            the term of 14 days. starts from the date of receipt of the last product</p>
        <p>The right of withdrawal is reserved for Users who purchase as consumers. Therefore, it applies only to the
            User / Consumer Customer, that is, who proceeds to purchase on the site for purposes unrelated to business
            activity.</p>
        <p>The rules laid down by the civil code with the relative terms, forfeiture and limitations apply to the
            non-consumer User / Customer.</p>
        <p>In case of exercising the right of withdrawal, the User / Customer is required to return the Products to the
            Seller within 14 days from the day on which he communicated to the Seller his will to withdraw from the
            contract pursuant to art. 57 of Legislative Decree 206/2005.</p>
        <p>The user who intends to exercise the right of withdrawal must notify HGM srl by means of an explicit
            declaration which must be sent by registered letter with return receipt to the address Corso Lodi n. 18 -
            20135 MILAN or by certified e-mail to the address: hgn@pec.it.</p>
        <p>The package containing the Products must be returned intact, in the original packaging, complete in all its
            parts (therefore including the packaging and any documentation (product sheet and tax documents).</p>
        <p>The User / Customer is responsible for the decrease in the value of the Products resulting from manipulation
            other than that necessary to establish the nature, characteristics and functioning.</p>
        <p>Without prejudice to the right to verify compliance with the above, the Seller will reimburse the amount of
            the products subject to withdrawal within a maximum period of 14 days, including any shipping costs incurred
            when purchasing the goods as foreseen by 'art. 56 paragraph 3 of Legislative Decree 206/2005, amended by
            Legislative Decree 21/2014. The shipment, until the Seller receives the Product, is under the responsibility
            of the User who must insure the product with the chosen courier, taking care to carefully pack the goods,
            where possible by inserting the original packaging in an external box and , however, avoiding damaging the
            product with adhesive tapes, labels, etc. The User / Customer loses the right of withdrawal in case of lack
            of the essential condition of integrity of the goods (packaging and / or its contents), in cases where the
            Seller ascertains:</p>
        <ul>
            <li>the lack of the external packaging and / or the original internal packaging;</li>
            <li>Product anomalies;</li>
            <li>Damage to the Product for reasons other than its transport;</li>
            <li>Wear of the Product due to its use, which has compromised its integrity.</li>
        </ul>
        <p>The Seller will reimburse using the same payment method chosen by the User / Customer during the
            purchase<strong>.</strong></p>
        <h4>Article 8 - COMMUNICATIONS</h4>
        <p>The parties agree that all communications relating to the contract must be sent to the addresses communicated
            during the registration phase on the site and / or sending the purchase order. Any changes must be promptly
            communicated.</p>
        <h4>Article 9 - DATA PROCESSING</h4>
        <p>The User / Customer guarantees that the personal data communicated during the purchase are actually theirs
            and that they are to be considered correct and truthful.</p>
        <p>The personal data of the User / Customer collected by the Seller will be processed in accordance with the
            provisions of the legislation on the protection of personal data, as specified in the appropriate section of
            the Site (privacy policy), to execute the Order received as well as for purposes specified in the
            aforementioned information.</p>
        <h4>Article 10 - APPLICABLE LAW, DISPUTE RESOLUTION AND JURISDICTION</h4>
        <p>These general conditions of sale are governed by Italian law and interpreted on the basis of it.
            Consequently, the interpretation, execution and termination of the General Conditions of Sale are subject
            exclusively to Italian law.</p>
        <p>For any dispute relating to the interpretation and / or execution of this contract, the Court of Milan /
            Justice of the Peace of Milan will be exclusively competent, all others excluded.</p>
        <h4>Article 11 - CAUSES OF FORCE MAJEURE</h4>
        <p>HGM SRL will be released from the obligation to fulfill and execute this contract due to force majeure,
            temporary or definitive such as - by way of example and not limited to - strikes, arrests, fires, natural
            and / or atmospheric events and for any other cause. occurring outside the control of HGM SRL and not
            attributable to it, even pre-existing, which prevents or aggravates the total or partial execution of this
            contract.</p>
        <h4>Article 12 - INTELLECTUAL PROPERTY</h4>
        <p>All intellectual property rights connected to the On-Line Shop (including contents and photographic images)
            are reserved. The On-Line Shop and its contents cannot be reproduced either in whole or in part, transferred
            by electronic or conventional means, modified, connected and used for any purpose without the prior written
            consent of HGM SRL.</p>
        <h4>DEFINITIONS</h4>
        <p>The User acknowledges that the meaning attributed to the terminology used in the contract and in the general
            terms and conditions involves the following meanings:</p>
        <ul>
            <li>Customer: any person (natural or legal person) who purchases one or more Products and / or the Service
                simultaneously offered through the Online Store by accepting the General Conditions.
            </li>
            <li>Contract: agreement between the seller and the User for the purchase and sale of the products and / or
                services offered on the site as described in the general conditions of sale reported here.
            </li>
            <li>General Conditions: rules for the regulation of the sale and purchase agreement.</li>
            <li>Order Confirmation: communication by e-mail with which HGN SRL notifies the Customer / User of the
                acceptance of the Order.
            </li>
            <li>Cart: Area of the site where the User forms the Order and sends it to the Seller.</li>
            <li>Credentials: personal identification codes chosen by the User (User ID and Password) necessary for the
                User to access the personal area of the Site.
            </li>
            <li>Purchase order: purchase contract proposal sent by the User to the Seller.</li>
            <li>Online shop: virtual shop, managed by HGN SRL and accessible through the URL www.hagane.com through
                which it is possible to purchase the Products.
            </li>
            <li>Parties: contracting parties i.e. Seller and User (consumer or legal person).</li>
            <li>Price: total cost of tax charges for the Products and / or for the provision of the Service as indicated
                in the On-Line Shop in correspondence with the Products themselves.
            </li>
            <li>Products: products and / or services sold by the Seller through the Site.</li>
            <li>Registration: IT procedure through which the User activates the authentication credentials necessary to
                make purchases on the Site.
            </li>
            <li>Product Description: information space in which the main characteristics of the products / services sold
                by the Seller are illustrated in detail, as well as any additional conditions of sale with respect to
                those indicated and described here. The product description is an integral and substantial part of this
                contract.
            </li>
            <li>Service: utility offered in the On-Line Shop.</li>
            <li>Website: web space accessible at www.hagane.com</li>
            <li>User: natural person or legal person who purchases the Products on the Site. The User qualifies as a
                consumer, as defined by the Consumer Code, if he makes the purchase for purposes unrelated to any
                business or professional activity carried out.
            </li>
            <li>Seller: HGN SRL</li>
        </ul>
    </div>
</header>

